<form method="post" action="{{ path('app_step_delete', {'id': user.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="text-red-800 bg-red-100 p-2 rounded">Supprimer</button>
</form>
