{% extends 'base.html.twig' %}

{% block title %}Editer un employer{% endblock %}

{% block body %}   
<main class="w-[90%] m-auto">
    <div class="flex justify-between items-center">
        <h1 class=" mb-4 text-xl font-semibold text-[#140A82]">Editer employer</h1>
        <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_step_user') }}">Retour</a>
    </div>
        {{ include('step_user/_form.html.twig', {'button_label': 'Modifier'}) }}
</main>
{% endblock %}