{% extends 'base.html.twig' %}
{% block title %}
	Step Post


{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="css/historique.css">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="module" src="js/historique.js"></script>
{% endblock %}
{% block body %}
	<main>
		<section id="recherche">
			<div>
				<label>Bordereau / Nom :
					<input type="text" id="searchInput" value="10160">
				</label>
				<button class="button" id="searchBtn">Rechercher</button>
			</div>
			<article id="detailsRecherche">
					<h4>
						Courrier n° :


					</h4>
					<div></div>
					<span id="closeBtn"><img src="img/close-icone.png" alt="fermer"><span>
					</article>
				</section>
				<section>
				<article class="errorMessage">
				<h4>Aucun Résultat trouvé</h4>
				<button class="button" id="goBackBtn">Retour</button>
				</article>
					<table>
						<thead>
							<tr>
								<th>Bordereau</th>
								<th>Date</th>
								<th>Destinataire</th>
								<th>Statut</th>
							</tr>
						</thead>
						<tbody class="anchor"></tbody>
					</table>
					<div>
						<button id="prevPage"><</button><p id="currentPage"></p><button id="nextPage">></button>
					</div>
				</section>
				<section></section>
			</main>
		{% endblock %}
