{% extends "base.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="css/index.css">
{% endblock %}
{% block javascripts %}
	<script src="js/index-test.js" type="module"></script>
	{{ parent() }}
{% endblock %}
{% block body %}
	<main>
		<!-- formulaire de recherche de courrier -->
		<section>
			<article>
				<p>
					Suivre votre recommandé


				</p>
				<div>
					<form id="form">
						<input type="text" id="searchInput"></form>
					<img src="img/ri_search-line.png" alt="icone loupe"></div>
			</article>
		</section>
		<!--Affichage du résultat de la recherche-->
		<section id="detailsRecherche">
			<div>
				<h4>
					Courrier n° :


				</h4>
				<span id="closeBtn"><img src="img/close-icone.png" alt="fermer"><span></div>
					<div></div>
				</section>
				<section>
				<div class="anchor"></div>
				</section>
				<section>
				<div>
				<button id="prevBtn">{{'<'}}</button>
				<p></p>
				<button id="nextBtn">{{'>'}}</button>
				</div>
				</section>
			</main>
		{% endblock %}
