$blue: #140a82;
$orange: #ff5e1a;
$green: #24a640;

.main-historique {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3vh;
  margin-top: 5vh;
  padding-bottom: 25vh;

  > .section-historique {
    width: 80%;

    > table {
      width: 100%;
      border: 1px solid darkgray;
      border-radius: 5px;
      padding: 1vw 1vw;

      th,
      td {
        font-weight: bold;
      }

      > thead {
        text-align: left;
        background-color: $blue;
        color: white;

        > tr {
          > th {
            padding: 1vh 1vw;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      > tbody {
        > tr:nth-child(even) {
          background-color: lightgray;
        }

        > tr {
          > td:nth-child(4) {
            display: flex;
            align-items: center;
            column-gap: 0.5vw;
          }

          > td {
            padding: 1vh 1vw;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  > div:last-child {
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
  }
}

@media screen and (max-width: 600px) {
  .main-historique {
    .section-historique {
      width: 90%;
      font-size: 0.75rem;
    }
  }
}

@media print {
  body {
    #root {
      nav,
      footer,
      .button {
        display: none;
      }

      .main-historique {
        > .form-recherche,
        > .section-historique,
        > .rechercheNom,
        > div:last-child {
          display: none;
        }

        > .detailsRecherche {
          width: 90%;
          flex-direction: column;
          row-gap: 5vh;

          > div {
            > span {
              > img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
