.icone {
    width: 24px;
    height: 24px;
}

body {
    > header {
        display: flex;
        > div {
            width: 50vw;
            padding: .5vw;
            > img {
                height: 8vh;
                width: auto;
            }
        }
        > div:nth-child(2) {
            display: flex;
            justify-content: end;
            > ul {
                display: flex;
                list-style-type: none;
            };
        }
    }
}