$orange: #FF5E1A;
.date {
    color: $orange;
}
.cercle {
    position: relative;
    display: flex;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    background-color: darkgrey;
}
.trait {
    display: flex;;
    width: 27%;
    height: .25vw;
    background-color: darkgrey;
}
.timeline {
    width: 40%;
    display: flex;
    > div {
        width: 100%;
        display: flex;
        align-items: center;
    }
}
.cercle-container {
    position: relative;
}
.statuts {
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: .75rem;
}
.statuts-date {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: .75rem;
}
.detailsLivraison {
    width: 100%;
    display: flex;
    padding: 1.5vw;
    column-gap: 1.5vw;
}
main {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
    > section:nth-child(1) {
        width: 60%;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        > div {
            width: 70%;
            display: flex;
            justify-content: flex-end;
            column-gap: .5vw;
            > label {
                > input {
                    padding: 1vh 1vw;
                }
            }
            > button {
                background-color: $orange;
                padding: 0 .5vw;
                color: white;
                border: none;
                border-radius: 5px;
            }
        }
        > article {
            width: 70%;
            display: none;
            flex-direction: column;
            row-gap: 5vh;
            > div:nth-child(1) {
                display: flex;
                justify-content: space-between;
                > span {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            > div:nth-child(2) {
                display: flex;
                justify-content: space-around;
            }

        }
    }
    > section:nth-child(2) {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1vh;
        > table {
            th, td {
                padding: .2vh .2vw;
            }
            width: 70%;
            border: 1px solid darkgray;
            border-radius: 5px;
            padding: 1vw 1vw;
            > thead {
                text-align: left;
                background-color: black;
                color:white;
            }
            > tbody {
                > tr:nth-child(even) {
                    background-color: lightgray;
                }
                > tr {
                    cursor: pointer;
                    > td:nth-child(1), > td:nth-child(3) {
                        font-weight: bold;
                    }
                    > td:nth-child(3) {
                        display: flex;
                        align-items: center;
                        column-gap: .5vw;
                    }
                    > td:nth-child(4) {
                        text-align: right;
                    }
                }
            }
        }
        > div {
            width: 70%;
            display: flex;
            justify-content: center;
            column-gap: .5vw;
        }
    }
}