.date {
  color: #FF5E1A;
}

.cercle {
  position: relative;
  display: flex;
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  background-color: darkgrey;
}

.trait {
  display: flex;
  width: 27%;
  height: 0.25vw;
  background-color: darkgrey;
}

.timeline {
  width: 40%;
  display: flex;
}
.timeline > div {
  width: 100%;
  display: flex;
  align-items: center;
}

.cercle-container {
  position: relative;
}

.statuts {
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
}

.statuts-date {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
}

.detailsLivraison {
  width: 100%;
  display: flex;
  padding: 1.5vw;
  -moz-column-gap: 1.5vw;
       column-gap: 1.5vw;
}

main {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vh;
}
main > section:nth-child(1) {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
main > section:nth-child(1) > div {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
}
main > section:nth-child(1) > div > label > input {
  padding: 1vh 1vw;
}
main > section:nth-child(1) > div > button {
  background-color: #FF5E1A;
  padding: 0 0.5vw;
  color: white;
  border: none;
  border-radius: 5px;
}
main > section:nth-child(1) > article {
  width: 70%;
  display: none;
  flex-direction: column;
  row-gap: 5vh;
}
main > section:nth-child(1) > article > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
main > section:nth-child(1) > article > div:nth-child(1) > span:hover {
  cursor: pointer;
}
main > section:nth-child(1) > article > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
}
main > section:nth-child(2) {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1vh;
}
main > section:nth-child(2) > table {
  width: 70%;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 1vw 1vw;
}
main > section:nth-child(2) > table th, main > section:nth-child(2) > table td {
  padding: 0.2vh 0.2vw;
}
main > section:nth-child(2) > table > thead {
  text-align: left;
  background-color: black;
  color: white;
}
main > section:nth-child(2) > table > tbody > tr:nth-child(even) {
  background-color: lightgray;
}
main > section:nth-child(2) > table > tbody > tr {
  cursor: pointer;
}
main > section:nth-child(2) > table > tbody > tr > td:nth-child(1), main > section:nth-child(2) > table > tbody > tr > td:nth-child(3) {
  font-weight: bold;
}
main > section:nth-child(2) > table > tbody > tr > td:nth-child(3) {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
}
main > section:nth-child(2) > table > tbody > tr > td:nth-child(4) {
  text-align: right;
}
main > section:nth-child(2) > div {
  width: 70%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
}/*# sourceMappingURL=historique.css.map */