#searchInput {
  width: 30vw;
  padding: 1.5vw;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #646464;
  background-image: url("../img/ri_search-line.png");
  background-repeat: no-repeat;
  background-position: center right;
}

#searchBtn {
  padding: 0.5vw;
  color: white;
  font-weight: bold;
  background-color: #24A640;
  border: none;
  border-radius: 5px;
}

#detailsLivraison {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#detailsLivraison > .details {
  font-size: 0.75rem;
}

.date {
  color: #FF5E1A;
}

.cercle {
  position: relative;
  display: flex;
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  background-color: darkgrey;
}

.trait {
  display: flex;
  width: 27%;
  height: 0.25vw;
  background-color: darkgrey;
}

.timeline {
  width: 40%;
  display: flex;
}
.timeline > div {
  width: 100%;
  display: flex;
  align-items: center;
}

.cercle-container {
  position: relative;
}

.statuts {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
}

.statuts-date {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

body > main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15vh;
}
body > main section:nth-child(1) {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
body > main section:nth-child(1) > article {
  display: flex;
  flex-direction: column;
  -moz-columns: 5vw;
       columns: 5vw;
}
body > main section:nth-child(1) > article > p {
  font-size: 10px;
  font-style: italic;
  color: #646464;
}
body > main section:nth-child(1) > article > div {
  display: flex;
  align-items: center;
}
body > main section:nth-child(2) {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5vh;
  font-size: 0.75rem;
}
body > main section:nth-child(2) > article:nth-child(2) {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
body > main section:nth-child(2) > article:nth-child(2) > div:nth-child(2) {
  padding: 0 0 0 2vw;
}
body > main section:nth-child(3) {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  align-items: center;
}
body > main section:nth-child(3) > div:nth-child(1) {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > main section:nth-child(3) > div:nth-child(1) > a {
  margin-left: 0.5vw;
  color: #FF5E1A;
  font-weight: bold;
  font-size: 0.75rem;
}
body > main section:nth-child(3) > div:nth-child(1) > button {
  width: 3vw;
  height: 3vw;
  background-color: #FF5E1A;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  border: none;
}
body > main section:nth-child(3) > div:nth-child(1) > button:hover {
  cursor: pointer;
}
body > main section:nth-child(3) > article {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vh;
  padding: 1vh;
  border-bottom: solid #646464 2px;
  padding: 1vw;
}
body > main section:nth-child(3) > article:hover {
  cursor: pointer;
  border: 1px solid darkgray;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #646464;
}
body > main section:nth-child(3) > article > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body > main section:nth-child(3) > article > div > span {
  display: flex;
  align-items: center;
  justify-content: start;
}
body > main > section:nth-child(4) {
  width: 90%;
  display: flex;
  justify-content: end;
}
body > main > section:nth-child(4) > button {
  position: relative;
}/*# sourceMappingURL=searchCourrierByName.css.map */