@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
$blue: #140A82;
$orange: #FF5E1A;
$green: #24A640;

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: $blue;
    font-family: rubik;
    >#root {
        position: relative;
        min-height: 100vh;
    }
}

.button {
    padding: .5vw;
    color: white;
    font-weight: bold;
    background-color: $blue;
    border: none;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.button-valider {
    padding: .5vw;
    color: white;
    font-weight: bold;
    background-color: $green;
    border: none;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}