{% extends 'base.html.twig' %}

{% block title %}NCréer un expediteur{% endblock %}

{% block body %}
<main class="w-[90%] m-auto">
    <div class="flex justify-between items-center">
        <h1 class=" mb-4 text-xl font-semibold text-[#140A82]">Crée un expediteur</h1>
        <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_accueil') }}">Retour</a>
    </div>
        {{ include('utilisateur/_form.html.twig') }}
</main>
{% endblock %}
