$orange: #FF5E1A;

.bouton-ajouter {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .75vw;

    >h4 {
        white-space: nowrap;
    }
    >div {
        >a {
            >button {
                border: none;
        
                >img {
                    width: calc(24px + .5vw);
                    height: calc(24px + .5vw);
                }
        
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .bouton-ajouter {
        >h4 {
            font-size: .75rem;
        }
        >div {
            >a {
                >button {
                    padding: 1vh 1vh;
                    font-size: .5rem;
                }
            }
        }
    }
}