$orange: #FF5E1A;

.bouton-ajouter {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .75vw;

    >h4 {
        white-space: nowrap;
    }
    >div {
        >a {
            >button {
                padding: 0 .75vh 0 .75vh;
                border-radius: 5px;
                background-color: $orange;
                font-size: 1.5rem;
                color: white;
                border: none;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .bouton-ajouter {
        >h4 {
            font-size: .75rem;
        }
        >div {
            >a {
                >button {
                    padding: 1vh 1vh;
                    font-size: .5rem;
                }
            }
        }
    }
}