.detailsRecherche {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #646464;
    padding: 1vw;
    border-radius: 5px;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1vh;

    }
}

@media screen and (max-width: 1000px) {
    .detailsRecherche {
        width: 80%;
    }

}


@media screen and (max-width: 600px) {
    .detailsRecherche {
        width:90%;
        height: 15vh;
        flex-direction: column;
        row-gap: 2vh;
        >div:nth-child(1) {
            flex-direction: row;
            column-gap: 5vw;
            >h4, >button {
                font-size: .75rem;
            }
        }
    }

}