$orange: #FF5E1A;

.button {
  padding: .5vw;
  color: white;
  font-weight: bold;
  background-color: $orange;
  border: none;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

body {

  #root {
    .home-main {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 5vh;

      >div:last-child {
        display: flex;
        align-items: center;
        column-gap: 1vw;
        font-size: .75rem;
      }
    }
  }
}