{# détermine le nombre de courriers distribués (ou non) par pages #}
{% set max = 25 %}
{% block stylesheets %}

	<link rel="stylesheet" href="css/header.css">
{% endblock %}

<header>
	<div>
		<img src="img/logo.png" alt="logo step">
	</div>
	<div>
		<ul>
			<li><a href="{{path('app_main')}}">Accueil</a></li>
			<li><a href="{{path('app_nextPage',{page: 0, max: max })}}"><img class="icone" src="img/icone-tableau.png" alt="icone-historique-envois"></a></li>
		</ul>
	</div>
</header>
