{# détermine le nombre de courriers distribués (ou non) par pages #}
{#{% set max = 25 %}#}
	{% block stylesheets %}

<link rel="stylesheet" href="css/header.css"> {% endblock %}

{% block javascripts %}
<script src="js/header.js" type="module"></script>
{% endblock %}

<header>
	<div>
		<img src="img/logo.png" alt="logo step">
	</div>
	<div>
		<ul>
			<li>
				<a href="{{path('app_main')}}"><img class="icone" src="img/icone-home.png" alt="icone-accueil"></a>
			</li>
			<li>
				<a href="{{path('app_historique')}}"><img class="icone" src="img/icone-tableau.png" alt="icone-historique-envois"></a>
			</li>
				<li id="logout">
					<a href="{{path('app_logout')}}"><img class="icone" src="img/icone-logout.png" alt="icone-deconnexion"></a>
				</li>
			{#<li><a href="{{path('app_nextPage',{page: 0, max: max })}}"><img class="icone" src="img/icone-tableau.png" alt="icone-historique-envois"></a></li>#}
		</ul>
	</div>
</header>
