$blue: #140A82;
$orange: #FF5E1A;
$green: #24A640;

body {

  #root {
    .home-main {
      margin-top: 5vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 3vh;
      padding-bottom: 25vh;

      >div:last-child {
        display: flex;
        align-items: center;
        column-gap: 1vw;
        font-size: .75rem;
      }
    }

    .listecourriers-section {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 2vh;

      >div:nth-child(1) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      >ul {
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        width: 100%;
        list-style-type: none;

        >li {
          width: 100%;

          .courrier {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 3vh;
            padding: 1vh;
            border-bottom: solid #646464 2px;

            &:hover {
              cursor: pointer;
              border: 1px solid darkgray;
              border-radius: 5px;
              box-shadow: 4px 4px 4px #646464;
            }

            >div {
              width: 100%;
              display: flex;
              justify-content: space-between;

              >span {
                display: flex;
                align-items: center;
                justify-content: flex-start;
              }
            }

            >div:nth-child(3) {
              width: 80%;
              display: flex;
              justify-content: space-between;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    #root {
      .home-main {
        .listecourriers-section {
          width: 90%;

          >div:nth-child(1) {
            >h3 {
              font-size: .75rem;
            }

            >span {
              align-items: center;
            }
          }

          >ul {
            >li {
              >.courrier {
                >div:nth-child(2) {
                  flex-direction: column-reverse;
                  font-size: .75rem;
                }
              }
            }
          }
        }
      }

    }
  }
}

@media print {
  body {
    #root {

      nav,
      footer,
      .button {
        display: none;
      }

      .home-main {

        >.form-recherche,
        >.listecourriers-section,
        >.rechercheNom,
        >div:last-child {
          display: none;
        }

        >.detailsRecherche {
          width: 90%;
          flex-direction: column;
          row-gap: 5vh;

          >div {
            >span {
              >img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}